.background__categories {
  display: flex;
  padding-top: 1.5rem;
  overflow: hidden;
}
.categories__list {
  display: flex;
}
.background__categories-suggested {
  font-size: 1.5rem;
}
.categories__item {
  display: flex;
  align-items: center;
  margin-right: 0.6rem;
}
.categories__item:last-child {
  margin-right: 0;
}
.categories__link {
  text-decoration: none;
  position: relative;
  color: #fff;
  font-size: 1.4rem;
  opacity: 0.8;
  line-height: 1.8rem;
  font-weight: 300;
  white-space: nowrap;
}
.categories__link::after {
  position: absolute;
  content: ',';
  right: -3px;
  top: 0;
}
.categories__item:last-child .categories__link::after {
  content: '';
}
.categories__link:hover {
  opacity: 1;
}
