.card-info-overlay {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 2rem 2rem;
}
.gallery-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.card-link {
  text-decoration: none;
  color: #e8e8e8;
  font-size: 1.4rem;
  z-index: 1;
}
.gallery-card {
  position: relative;
}
.card-info-overlay::before {
  content: '';
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 8rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
}
.card-icons {
  display: flex;
  z-index: 1;
}
.card-icons i {
  margin-right: 2rem;
}
.card__like-wrapper,
.card__download-wrapper {
  cursor: pointer;
}
.card__like-wrapper:hover svg,
.card__download-wrapper:hover svg,
.card-link:hover {
  opacity: 0.6;
}

@media (max-width: 650px) {
  .card-link {
    font-size: 1.2rem;
  }
  .card-icons i {
    margin-right: 1rem;
  }
}

@media (max-width: 550px) {
  .card-info-overlay {
    justify-content: flex-end;
    padding: 0 1rem 1rem;
  }
  .card-no_like,
  .card-like,
  .card__download-wrapper svg {
    width: 20px;
    height: 20px;
  }
}
